  <div class="icons">
    <a href="https://github.com/potsdamacm"><i class="fa fa-github fa-lg"></i></a>
    <a href="https://twitter.com/potsdamacm"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="https://www.facebook.com/PotsdamACM/"><i class="fa fa-facebook-square fa-lg"></i></a>
    <a href="https://www.instagram.com/PotsdamACM/"><i class="fa fa-instagram fa-lg"></i></a>
    <a href="https://potsdamacm.slack.com/"><i class="fa fa-slack fa-lg" alt="Placeholder" title="Placeholder"></i></a>
  </div>
